body {
    background-color: #fff;
    margin: 10%;
}

h1 {
    color: #313131;
    font-size: 48px;
    font-family: sans-serif;
    border-bottom: 1px solid #aaaaaa;
}

h2 {
    color: #313131;
    font-size: 40px;
    font-family: sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}

h2 + * {
    margin-left: 15px;
}

h2 + a > * {
    margin-left: 15px;
}

h3 {
    color: #313131;
    font-size: 36px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-bottom: 10px;
}

h3 + * {
    margin-left: 25px;
}

h3 + a > * {
    margin-left: 25px;
}

h4 {
    color: #313131;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 30px;
    margin-bottom: 10px;
}

h4 + * {
    margin-left: 35px;
}

h4 + a > * {
    margin-left: 35px;
}

h5 {
    color: #313131;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 40px;
    margin-bottom: 10px;
}

h5 + * {
    margin-left: 45px;
}

h5 + a > * {
    margin-left: 45px;
}

h6 {
    color: #313131;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 50px;
    margin-bottom: 10px;
}

h6 + * {
    margin-left: 55px;
}

h6 + a > * {
    margin-left: 55px;
}

p {
    color: #313131;
    font-size: 16px;
    font-family: sans-serif;
}

li {
    color: #313131;
    font-size: 16px;
    font-family: sans-serif;
}


div.separator {
    border-top: 1px solid #aaaaaa;
}

code.hljs {
    padding-left: 20px;
    border-radius: 10px;
    background-color: #eee;
}

code span {
    font-size: 14px;
}
